.img-card-fit {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.img-cont {
    height: 200px;
    overflow: hidden;
    background-color: beige;
}

.card-content{
    height: 150px;
    overflow: auto;
}

main {
    min-height: calc(100vh - 100px);
  }

.checked{
    color: orange;
}

.offcanvas-top{
    height: fit-content;
}

#inputBuscar {
    min-width:  212px;
}

/* Estilos de lista */
div.album {
    margin: 0 10vw;
}

#lista {
    padding: 0px
}

#lista li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 2px #8d9198;
    min-width: 190px;
}

.contEstrellas {
    margin-left: 10px;
    gap: 10px;
}

.contEstrellas span {
    margin-right: 5px;
}

#lista h1 {
    font-size: 1.4rem;
    color: white;
}

#lista p {
    font-size: 1.1rem;
    color: white;
    margin: 0;
    font-weight: 310;
}

/*canvas top */
#categoriasYmas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.offcanvas-body {
    overflow: visible;
}

#desplegable {
    padding: 10px;
}

#desplegable li {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#desplegable {
    transform: translate3d(-148px, 36px, 0px);
    min-width: 230px;
}


